<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="catalog.make_repository" class="CatalogBundle\Document\MakeRepository" factory-service="doctrine.odm.mongodb.document_manager"
                 factory-method="getRepository">
            <argument>CatalogBundle\Document\Make</argument>
        </service>

        <service id="catalog.model_repository" class="CatalogBundle\Document\ModelRepository" factory-service="doctrine.odm.mongodb.document_manager"
                 factory-method="getRepository">
            <argument>CatalogBundle\Document\Model</argument>
        </service>

    </services>

</container>

