<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="advert.advert" class="AdvertBundle\Document\AdvertRepository" factory-service="doctrine.odm.mongodb.document_manager"
                 factory-method="getRepository">
            <argument>AdvertBundle\Document\Advert</argument>
        </service>

        <service id="advert.make" class="AdvertBundle\Document\MakeRepository" factory-service="doctrine.odm.mongodb.document_manager"
                 factory-method="getRepository">
            <argument>AdvertBundle\Document\Make</argument>
        </service>

        <service id="advert.model" class="AdvertBundle\Document\ModelRepository" factory-service="doctrine.odm.mongodb.document_manager"
                 factory-method="getRepository">
            <argument>AdvertBundle\Document\Model</argument>
        </service>


    </services>
</container>

