{% extends '@Common/base.html.twig' %}

{% block title %}Add{% endblock %}

{% block body %}

    {% if advert is not empty %}
        <input type="hidden" id="edit" value="1">
    {% endif %}

    <form novalidate name="app_bundle_advert" method="post">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div><input type="submit" id="app_bundle_advert_save" value="Save"></div>
    </form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/advert/javascripts/advert.js') }}"></script>
{% endblock %}